@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #252525;
    margin-left: 2%;
    margin-right: 2%;
}
#stranka {
    display: "";
}
#udalost_button {
    margin-left: 250px;
    background-color: red;
    border-radius: 50%;
}
#datum {
    text-align: center;
    width: 100%;
    font-size: 90px;
}
#kal {
    text-align: center;
    height: 300px;
}
#tlacitak_posun_mesice {
    width: 50%;
}
#koleckol {
    max-width: 50px;
    float: left;
    background-color: gray;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
#koleckop {
    float: right;
    background-color: gray;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
#mesic {
    width: 100%;
    text-align: center;
}
#rok {
    width: 100%;
    text-align: center;
}
#kalendar {
    margin-top: 60px;
    width: 50%;
    float: left;
}
th {
    padding: 5px;
    cursor: pointer;
}
#red {
    color: red;
}
#panel {
    margin-left: 0px;
    width: 50%;
}
input {
    margin: 10px;
}
#dnesni_udalosti {
    float: right;
    width: 40%;
}
#du {
    font-size: 30px;
    margin-bottom: 30px;
}
#ulozeni_udalosti {
    display: none;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #252525;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
}

@media only screen and (max-width: 800px) {

    #kalendar {
        margin: 0 auto;
        margin-top: 50px;
        width: 50%;
        float: none;
    }
    #dnesni_udalosti {
        padding-top: 50px;
        margin: 0 auto;
        width: 50%;
        float: none;
    }
    #tlacitak_posun_mesice {
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
    #panel {
        width: 100%;
    }
}